* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=lf
*.cmd text eol=lf
*.png binary
*.ico binary
*.exe binary
*.zip binary

.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
